html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(22, 22, 22), #1a1a1a);
  font-family: 'Poppins', sans-serif;
}

.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
.snowflake:nth-child(1) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: -6vw;
  left: 96vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(2) {
  --size: 1vw;
  --left-ini: 3vw;
  --left-end: 0vw;
  left: 17vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(3) {
  --size: 0.2vw;
  --left-ini: 3vw;
  --left-end: 4vw;
  left: 71vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(4) {
  --size: 0.6vw;
  --left-ini: 3vw;
  --left-end: -6vw;
  left: 23vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: -8vw;
  --left-end: 4vw;
  left: 57vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(6) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: 0vw;
  left: 79vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(7) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: -6vw;
  left: 57vw;
  animation: snowfall 10s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(8) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: 9vw;
  left: 33vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(9) {
  --size: 0.6vw;
  --left-ini: 1vw;
  --left-end: -5vw;
  left: 40vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(10) {
  --size: 0.8vw;
  --left-ini: 9vw;
  --left-end: -2vw;
  left: 24vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(11) {
  --size: 0.4vw;
  --left-ini: 0vw;
  --left-end: 4vw;
  left: 21vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(12) {
  --size: 0.4vw;
  --left-ini: 6vw;
  --left-end: 10vw;
  left: 38vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(13) {
  --size: 0.2vw;
  --left-ini: 6vw;
  --left-end: -9vw;
  left: 77vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(14) {
  --size: 0.2vw;
  --left-ini: -7vw;
  --left-end: -2vw;
  left: 47vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(15) {
  --size: 0.6vw;
  --left-ini: -5vw;
  --left-end: 8vw;
  left: 100vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(16) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 46vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(17) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -4vw;
  left: 23vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -6s;
}

.snowflake:nth-child(18) {
  --size: 0.4vw;
  --left-ini: -1vw;
  --left-end: 0vw;
  left: 22vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(19) {
  --size: 0.4vw;
  --left-ini: -3vw;
  --left-end: 3vw;
  left: 91vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(20) {
  --size: 0.4vw;
  --left-ini: -6vw;
  --left-end: 4vw;
  left: 6vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(21) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 5vw;
  left: 47vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(22) {
  --size: 0.8vw;
  --left-ini: -4vw;
  --left-end: 4vw;
  left: 42vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(23) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: 5vw;
  left: 61vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(24) {
  --size: 0.6vw;
  --left-ini: 5vw;
  --left-end: -3vw;
  left: 3vw;
  animation: snowfall 14s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(25) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: -9vw;
  left: 61vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(26) {
  --size: 0.2vw;
  --left-ini: -3vw;
  --left-end: -6vw;
  left: 7vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(27) {
  --size: 0.2vw;
  --left-ini: -2vw;
  --left-end: -7vw;
  left: 38vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(28) {
  --size: 0.2vw;
  --left-ini: -9vw;
  --left-end: 7vw;
  left: 36vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(29) {
  --size: 0.8vw;
  --left-ini: -2vw;
  --left-end: 0vw;
  left: 12vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(30) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 37vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(31) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: -1vw;
  left: 34vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(32) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: -6vw;
  left: 66vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(33) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: 2vw;
  left: 32vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -1s;
}

.snowflake:nth-child(34) {
  --size: 1vw;
  --left-ini: 1vw;
  --left-end: -6vw;
  left: 54vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(35) {
  --size: 1vw;
  --left-ini: 0vw;
  --left-end: -3vw;
  left: 75vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(36) {
  --size: 0.4vw;
  --left-ini: -4vw;
  --left-end: -2vw;
  left: 20vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -2s;
}

.snowflake:nth-child(37) {
  --size: 0.4vw;
  --left-ini: -9vw;
  --left-end: 2vw;
  left: 99vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(38) {
  --size: 1vw;
  --left-ini: -5vw;
  --left-end: -4vw;
  left: 35vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -5s;
}

.snowflake:nth-child(39) {
  --size: 0.2vw;
  --left-ini: 8vw;
  --left-end: 9vw;
  left: 20vw;
  animation: snowfall 7s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(40) {
  --size: 0.6vw;
  --left-ini: -2vw;
  --left-end: -8vw;
  left: 71vw;
  animation: snowfall 6s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(41) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -3vw;
  left: 35vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(42) {
  --size: 0.4vw;
  --left-ini: -5vw;
  --left-end: 6vw;
  left: 70vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(43) {
  --size: 1vw;
  --left-ini: 1vw;
  --left-end: -1vw;
  left: 48vw;
  animation: snowfall 13s linear infinite;
  animation-delay: -7s;
}

.snowflake:nth-child(44) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -5vw;
  left: 58vw;
  animation: snowfall 9s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(45) {
  --size: 0.8vw;
  --left-ini: -3vw;
  --left-end: -8vw;
  left: 36vw;
  animation: snowfall 12s linear infinite;
  animation-delay: -8s;
}

.snowflake:nth-child(46) {
  --size: 0.4vw;
  --left-ini: -2vw;
  --left-end: 2vw;
  left: 8vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(47) {
  --size: 0.2vw;
  --left-ini: -4vw;
  --left-end: -9vw;
  left: 34vw;
  animation: snowfall 11s linear infinite;
  animation-delay: -9s;
}

.snowflake:nth-child(48) {
  --size: 0.8vw;
  --left-ini: 5vw;
  --left-end: 10vw;
  left: 78vw;
  animation: snowfall 8s linear infinite;
  animation-delay: -10s;
}

.snowflake:nth-child(49) {
  --size: 1vw;
  --left-ini: -9vw;
  --left-end: -8vw;
  left: 15vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -3s;
}

.snowflake:nth-child(50) {
  --size: 0.2vw;
  --left-ini: 5vw;
  --left-end: 5vw;
  left: 2vw;
  animation: snowfall 15s linear infinite;
  animation-delay: -10s;
}

/* added small blur every 6 snowflakes*/
.snowflake:nth-child(6n) {
  filter: blur(1px);
}

.frame {
  width: 25vw;
  max-width: 600px;
  height: auto;
  background: rgba(15, 15, 15, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 25%; /* Adjust position to fit better above the video frame */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  z-index: 10; /* Ensure the frame is above the snowflakes */
}

.glowing-text {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
               0 0 16px rgba(255, 255, 255, 0.6),
               0 0 24px rgba(255, 255, 255, 0.4);
  animation: glow 2s ease-in-out infinite alternate;
  margin-bottom: 15px;
}

.discord-button {
  display: flex;
  align-items: center;
  background-color: #5865F2;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin-bottom: 20px;
}

.discord-button:hover {
  background-color: #4752C4;
}

.discord-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.video-frame {
  width: 40vw;
  max-width: 800px;
  height: auto;
  background: rgba(15, 15, 15, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10%; /* Position it near the bottom */
  left: 50%; /* Center it horizontally */
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: transform 0.5s ease, height 0.5s ease;
  z-index: 5; /* Ensure it is below the main frame but above the snowflakes */
}

.video-frame.folded {
  transform: translate(-50%, 0) scaleY(0.5);
  height: 50px;
  padding: 10px;
}

.video-container {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.video-frame:hover {
  cursor: pointer;
}